# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
ml-env/
venv/
env/

# Data and models (too large for git)
data/
models/
plots/
*.pth
*.h5
*.ckpt
*.weights

# Results/logs
*.txt
*.log

#images
*.png

# OS files
.DS_Store
Thumbs.db
to_read/
results/
